<h1>Bem vindo aos chamados</h1>
<p>Crie seu primeiro chamado</p>
<% if current_user %>
  <p> Bem vindo <%= current_user.email %>!</p>
  <p> texto grande </p>
  <%= link_to "Sair",destroy_user_session_path,'data-turbo-method': :delete%>
<% else %>
  <p> você não está logado, por favor logar</p>
  <%= link_to "Logar", new_user_session_path%>
  <%= link_to "Crie sua conta", new_user_registration_path%>
<% end %>