.navbar-geral{
  // background-color: #fff159;
  background-color: #000000;
  color: white
}
.navbar-geral a{
  // background-color: #fff159;
  color: white
}
.navbar-geral a:hover{
  // background-color: #fff159;
  color: rgb(190, 190, 190)
}